## Python Basic Programming Exercises

### Shahu Sardar CSE(Data Science)

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [16]:
#PUT THE VARIBLE IN A VARIBLE
eqn= 5 + 4 * 9 % (3 + 1) / 6 - 1
print(eqn)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [17]:
num = int(input("Enter the number:"))
#LOGIC FOR EVEN NUMBER
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter the number:4
Even number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [18]:
a = int(input("Enter number"))
#LOOP FROM 0-10
for i in range(0,11):
    #MULTIPLYING EACH ELEMENT IN RANGE WITH THE INPUT NUMBER
    m= a*i
    #PRINTING THE FORMAT FOR MULTIPLICATION TABLE
    print(f'{a}*{i}={m}')

Enter number4
4*0=0
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [19]:
#LOOP IN RANGE
for i in range(2000,3201):
    #LOGICAL OPREATOR FOR CONDITIONS
    if i%7==0 and i%5 != 0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [1]:
import Containers as c
a = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
c= c.Counter(type(x).__name__ for x in a)
print(dict(c))

ModuleNotFoundError: No module named 'Containers'

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [23]:
sum = 0
li= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
#MADE A EMPTY LIST FOR NUMRICAL VALUES 
b= []
for i in li:
    if type(i)== int or type(i)== float:
        b.append(i)
print(b)
#SUMMED UP THE NUMERICAL VALUES 
for j in b:
    sum = sum + j
print(sum)

[2, 3, 1, 5.5, 3, 7]
21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [24]:
a= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
#MADE EMPTY LIST FOR STRING
string= []
for i in a:
    if type(i) == str:
        string.append(i)
print(string)

delimeter = '-'
#USED THE JOIN METHOD
my_list= delimeter.join(string)
print(my_list)

['Py', '10', 'SQL', 'John']
Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [31]:
def the_func(li):
    #MADE THE LIST FOR NUMERICAL VALUES 
    num = []
    for i in li:
        if type(i) == int or type(i) == float:
            num.append(i)
    sum = 0
    #SUMED UP THE VALUES IN THE NUMERICAL LIST
    for j in num:
        sum = sum + j
    print(f'sum of numberical values: {sum}')
#COUNTING THE STRINGS
    count = 0
    for k in li:
        if type(k) == str:
            count = count + 1
    print(f'count of string values: {count}')

l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 


the_func(l1)

sum of numberical values: 21.5
count of string values: 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [34]:
#LOOPS
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd= []
for i in li:
    if i%2 != 0:
        odd.append(i)
print('USING LOOPS: ', odd)

#LIST COMPREHENSIONS

#Lambda funtions
odd_nos= list(filter(lambda i: (i%2!=0), li))
print('Using lambda funtion:', odd_nos)

USING LOOPS:  [5, 7, 97, 77, 23, 73, 61]
Using lambda funtion: [5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [8]:
def opreations(b):
    #INITIALIZED ADD AND COUNT
    add=0
    count= 0
    for i in b:
        #LOGIC FOR ADDING EACH ELEMENTS AND COUNTING ELEMENTS
        add = add + i
        count = count + 1
    s = [add, count, min(b), (add/count), max(b)]
    print(s)
    


n= int(input("Enter range:"))
#INITIALIZED EMPTY LIST
li= []
for i in range(n):
    i = int(input("Enter elements "))
    #ADDING ELEMENTS INTO THE LIST
    li.append(i)
print(li)
#CALLING OUR FUNCTION
opreations(li)

Enter range:5
Enter elements 1
Enter elements 2
Enter elements 3
Enter elements 4
Enter elements 5
[1, 2, 3, 4, 5]
[15, 5, 1, 3.0, 5]

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [60]:
#CREATED DIFFRENT FUNCTIONS FOR VARIOUS SHAPES
#SQUARE
def square(a):
    area= a*a
    print("The area of square is: ", area)
#RECTANGLE
def rec(l,b):
    area= l*b
    print("The area of rectangle is: ", area)
#Circle
def circle(r):
    area= 2*3.12*r*r
    print("The area of circle is: ", area)

#menu for choosing shape
shape= int(input("""
        ENTER SHAPE:
        1. Square
        2. Rectangle 
        3. Circle

"""))

#FUNCTION CALLING BASED ON THE MENU CHOICE
if shape == 1:
    side = int(input("Enter the side of square"))
    square(side)
elif shape == 2:
    lenght = int(input("Enter the lenght of rectangle"))
    breadth = int(input("Enter the breadth of rectangle"))
    rec(lenght, breadth)
elif shape == 3:
    radius = int(input("Enter the radius of circle"))
    circle(radius)
else:
    print("Please enter a valid key")

        ENTER SHAPE:
        1. Square
        2. Rectangle
        3. Circle

2
Enter the lenght of rectangle50
Enter the breadth of rectangle25
The area of rectangle is:  1250

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [ ]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Q13: write a UDF to check if a number is prime or not.

In [1]:
#PRIME CHECK FUNCTION
def prime_check(a):
    for i in range(2,a+1):
        if num==2:
            print('prime')
        else:
            if num%i!=0:
                print('prime')
                break
            
                
            else:
                print('not prime')
                break
num = int(input("Enter number"))
prime_check(num)

Enter number3
prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [2]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    print(fact)
n=int(input("Enter the number:"))
factorial(n)

Enter the number:4
24

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [6]:
n= int(input("Enter the number"))
for i in range(1,n+1):
    the_dict= {i: i*i}
    print(the_dict)

Enter the number4
{1: 1}
{2: 4}
{3: 9}
{4: 16}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [7]:
#THE NUMBER OF VALUES IN THE LIST AND TUPLE
n= int(input("Range:"))
#EMPTY LIST AND TUPLE
li = []
tup=()

for i in range(n):
    num=int(input("Enter the number:"))
    li.append(num)
    tup=tup+(num,)
print(li,end=' ')
print(tup)

Range:4
Enter the number:1
Enter the number:2
Enter the number:3
Enter the number:4
[1, 2, 3, 4] (1, 2, 3, 4)

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [8]:
string=input("Enter the string : ")
words= string.split(',')
words.sort()
output_string = ",".join(words)
print(output_string)

Enter the string : without,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [16]:
string=input("Enter the string : ")
words= string.split()
unique= []
for i in words:
    if i not in unique:
        unique.append(i)
unique.sort()
print(unique)

Enter the string : watch laptop keys soap mobile laptop
['keys', 'laptop', 'mobile', 'soap', 'watch']

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
s=input("Enter the string : ")
count_u=0
count_l=0
for i in s:
    if i.isupper():
        count_u=count_u+1
    if i.islower():
        count_l=count_l+1
print("UPPER CASE ",count_u,end=' ')
print("LOWER CASE",count_l)

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [ ]:
s=input("Enter your string : ")
u=''
for i in range(len(s)-1,-1,-1):
    u=u+s[i]
print(u)